@media (min-width: 800px){
	[class*="col-"]{
		width: 100%;
	}
	body{
		background-image: url(../img/maxresdefault.jpg);
	}
}

@media (min-width: 500px) and (max-width: 799px){
	[class*="col-"]{
		width: 100%;
	}
	body{
		background-image: url(../img/Landscape.jpg);
	}
}

