@media (min-width: 800px){
	.contenedor{
		background-image: url(../img/Landscape.jpg);
	}
}
@media (max-width: 799px) and (min-width: 500px){
	.contenedor{
		background-image: url(../img/dawn.png);
	}
}
@media (max-width: 499px) and (min-width: 1px){
	.contenedor{
		background-image: url(../img/maxresdefault.jpg);
	}
}